<!-- include head  -->
<%- include('incs/header.ejs') %>

<!-- include navbar  -->
<%- include('incs/navbar.ejs') %>
<!-- Write content of page  -->

<div class="container">
    <div id="onlineFriends"></div>
</div>

<!-- include footer  -->
<%- include('incs/scripts.ejs') %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/home.js"></script>

</body>

</html>